/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 50%;
  width: 60%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  bottom: 53.5%;
  right: 47%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px;
  border: 1px solid rgb(153, 153, 153);
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#rectange-Site-Status-Header{
  position: absolute;
  z-index: 2;
  width: 20%;
  height: 7%;
  top: 0%;
  left: 0%;
  background-color: rgb(6, 6, 6);

}

#rectange-Site-Status{
  position: absolute;
  z-index: 2;
  width: 20%;
  height: 50%;
  top: 0%;
  left: 0%;
  background-color: rgba(6, 6, 6, 0.39);
}

#rectangle-AR-View{
  position: absolute;
  z-index: 2;
  width: 40%;
  height: 30%;
  right: 0%;
  top: 0%;
  background-color: rgba(6, 6, 6, 0.59);
}

#arrows{
  visibility: hidden;
  position: absolute;
  z-index: 2;
 left: 40%;
  top: 30%;
}

#site-status{
  position: absolute;
  top: -1%;
  left: 4.5%;
  z-index: 3;
  font-family: 'Roboto','sans-serif';
  font-size: 20px;
  color: #ff9900;
}

#site-status-content-info{
  position: absolute;
  top: 10%;
  left: 1%;
  z-index: 3;
  font-family: 'Roboto','sans-serif';
  size: px;
  color: #ffffff;
}

#site-status-content-info-hidden{
  visibility: hidden;
  position: absolute;
  top: 10%;
  left: 1%;
  z-index: 3;
  font-family: 'Roboto','sans-serif';
  size: px;
  color: #ffffff;
}

#header-AR-View-FireFighters{
  position: absolute;
  top: -1%;
  right: 10%;
  z-index: 3;
  font-size:20px;
  font-family: 'Roboto','sans-serif';
  color: #ff9900;
}

#AR-View-Camera{
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: 3;
  font-size:18px;
  font-family: 'Roboto','sans-serif';
  color: #ffffff;

}


#video{
	position: absolute;
	bottom:0px;
	right:0px;
	height: 100%;
	width: 40%;
	background-color: #000;
}

#floor-Map{
  position: absolute;
	bottom:-8%;
	left:-3%;
	height: 60%;
	width: 70%;
}

#floor-Map-Exit1{
	visibility:hidden;
  position: absolute;
  opacity: 50%;
	bottom:-8%;
	left:-3%;
	height: 60%;
	width: 70%;
}

#btn{
	position: absolute;
	top:10px;
	right:10px;
	background-color: rgb(255, 153, 0);
	cursor: pointer;
	z-index: 99;
	height: 10px;
	width: 10px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;

}

#fire{
  visibility: hidden;
   position: absolute;
   top: 62%;
   left: 51%;
   z-index: 4;
}

#fire1{
  visibility: hidden;
   position: absolute;
   top: 62%;
   left: 51%;
   z-index: 4;
}

#victims{

  position: absolute;
  width: 5%;
  top: 56.7%;
  left: 44%;
  z-index: 4;
}
